@font-face {
  font-family: 'SF Pro Display';
  src: url('./sf-pro/SFProDisplay-Medium.eot');
  src: local('SF Pro Display Medium'), local('SFProDisplay-Medium'),
      url('./sf-pro/SFProDisplay-Medium.eot?#iefix') format('embedded-opentype'),
      url('./sf-pro/SFProDisplay-Medium.woff2') format('woff2'),
      url('./sf-pro/SFProDisplay-Medium.woff') format('woff'),
      url('./sf-pro/SFProDisplay-Medium.ttf') format('truetype');
  font-weight: 500;
  font-style: normal;
}

@font-face {
  font-family: 'SF Pro Display';
  src: url('./sf-pro/SFProDisplay-Heavy.eot');
  src: local('SF Pro Display Heavy'), local('SFProDisplay-Heavy'),
      url('./sf-pro/SFProDisplay-Heavy.eot?#iefix') format('embedded-opentype'),
      url('./sf-pro/SFProDisplay-Heavy.woff2') format('woff2'),
      url('./sf-pro/SFProDisplay-Heavy.woff') format('woff'),
      url('./sf-pro/SFProDisplay-Heavy.ttf') format('truetype');
  font-weight: 900;
  font-style: normal;
}

@font-face {
  font-family: 'SF Pro Display';
  src: url('./sf-pro/SFProDisplay-UltralightItalic.eot');
  src: local('SF Pro Display UltralightItalic'), local('SFProDisplay-UltralightItalic'),
      url('./sf-pro/SFProDisplay-UltralightItalic.eot?#iefix') format('embedded-opentype'),
      url('./sf-pro/SFProDisplay-UltralightItalic.woff2') format('woff2'),
      url('./sf-pro/SFProDisplay-UltralightItalic.woff') format('woff'),
      url('./sf-pro/SFProDisplay-UltralightItalic.ttf') format('truetype');
  font-weight: 100;
  font-style: italic;
}

@font-face {
  font-family: 'SF Pro Display';
  src: url('./sf-pro/SFProDisplay-RegularItalic.eot');
  src: local('SF Pro Display Regular Italic'), local('SFProDisplay-RegularItalic'),
      url('./sf-pro/SFProDisplay-RegularItalic.eot?#iefix') format('embedded-opentype'),
      url('./sf-pro/SFProDisplay-RegularItalic.woff2') format('woff2'),
      url('./sf-pro/SFProDisplay-RegularItalic.woff') format('woff'),
      url('./sf-pro/SFProDisplay-RegularItalic.ttf') format('truetype');
  font-weight: normal;
  font-style: italic;
}

@font-face {
  font-family: 'SF Pro Display';
  src: url('./sf-pro/SFProDisplay-RegularItalic.eot');
  src: local('SF Pro Display Regular Italic'), local('SFProDisplay-RegularItalic'),
      url('./sf-pro/SFProDisplay-RegularItalic.eot?#iefix') format('embedded-opentype'),
      url('./sf-pro/SFProDisplay-RegularItalic.woff2') format('woff2'),
      url('./sf-pro/SFProDisplay-RegularItalic.woff') format('woff'),
      url('./sf-pro/SFProDisplay-RegularItalic.ttf') format('truetype');
  font-weight: 400;
  font-style: italic;
}

@font-face {
  font-family: 'SF Pro Display';
  src: url('./sf-pro/SFProDisplay-Thin.eot');
  src: local('SF Pro Display Thin'), local('SFProDisplay-Thin'),
      url('./sf-pro/SFProDisplay-Thin.eot?#iefix') format('embedded-opentype'),
      url('./sf-pro/SFProDisplay-Thin.woff2') format('woff2'),
      url('./sf-pro/SFProDisplay-Thin.woff') format('woff'),
      url('./sf-pro/SFProDisplay-Thin.ttf') format('truetype');
  font-weight: 200;
  font-style: normal;
}

@font-face {
  font-family: 'SF Pro Display';
  src: url('./sf-pro/SFProDisplay-Light.eot');
  src: local('SF Pro Display Light'), local('SFProDisplay-Light'),
      url('./sf-pro/SFProDisplay-Light.eot?#iefix') format('embedded-opentype'),
      url('./sf-pro/SFProDisplay-Light.woff2') format('woff2'),
      url('./sf-pro/SFProDisplay-Light.woff') format('woff'),
      url('./sf-pro/SFProDisplay-Light.ttf') format('truetype');
  font-weight: 300;
  font-style: normal;
}

@font-face {
  font-family: 'SF Pro Display';
  src: url('./sf-pro/SFProDisplay-BlackItalic.eot');
  src: local('SF Pro Display Black Italic'), local('SFProDisplay-BlackItalic'),
      url('./sf-pro/SFProDisplay-BlackItalic.eot?#iefix') format('embedded-opentype'),
      url('./sf-pro/SFProDisplay-BlackItalic.woff2') format('woff2'),
      url('./sf-pro/SFProDisplay-BlackItalic.woff') format('woff'),
      url('./sf-pro/SFProDisplay-BlackItalic.ttf') format('truetype');
  font-weight: 900;
  font-style: italic;
}

@font-face {
  font-family: 'SF Pro Display';
  src: url('./sf-pro/SFProDisplay-Bold.eot');
  src: local('SF Pro Display Bold'), local('SFProDisplay-Bold'),
      url('./sf-pro/SFProDisplay-Bold.eot?#iefix') format('embedded-opentype'),
      url('./sf-pro/SFProDisplay-Bold.woff2') format('woff2'),
      url('./sf-pro/SFProDisplay-Bold.woff') format('woff'),
      url('./sf-pro/SFProDisplay-Bold.ttf') format('truetype');
  font-weight: bold;
  font-style: normal;
}

@font-face {
  font-family: 'SF Pro Display';
  src: url('./sf-pro/SFProDisplay-Bold.eot');
  src: local('SF Pro Display Bold'), local('SFProDisplay-Bold'),
      url('./sf-pro/SFProDisplay-Bold.eot?#iefix') format('embedded-opentype'),
      url('./sf-pro/SFProDisplay-Bold.woff2') format('woff2'),
      url('./sf-pro/SFProDisplay-Bold.woff') format('woff'),
      url('./sf-pro/SFProDisplay-Bold.ttf') format('truetype');
  font-weight: 700;
  font-style: normal;
}

@font-face {
  font-family: 'SF Pro Display';
  src: url('./sf-pro/SFProDisplay-Black.eot');
  src: local('SF Pro Display Black'), local('SFProDisplay-Black'),
      url('./sf-pro/SFProDisplay-Black.eot?#iefix') format('embedded-opentype'),
      url('./sf-pro/SFProDisplay-Black.woff2') format('woff2'),
      url('./sf-pro/SFProDisplay-Black.woff') format('woff'),
      url('./sf-pro/SFProDisplay-Black.ttf') format('truetype');
  font-weight: 900;
  font-style: normal;
}

@font-face {
  font-family: 'SF Pro Display';
  src: url('./sf-pro/SFProDisplay-SemiboldItalic.eot');
  src: local('SF Pro Display SemiboldItalic'), local('SFProDisplay-SemiboldItalic'),
      url('./sf-pro/SFProDisplay-SemiboldItalic.eot?#iefix') format('embedded-opentype'),
      url('./sf-pro/SFProDisplay-SemiboldItalic.woff2') format('woff2'),
      url('./sf-pro/SFProDisplay-SemiboldItalic.woff') format('woff'),
      url('./sf-pro/SFProDisplay-SemiboldItalic.ttf') format('truetype');
  font-weight: 600;
  font-style: italic;
}

@font-face {
  font-family: 'SF Pro Display';
  src: url('./sf-pro/SFProDisplay-Ultralight.eot');
  src: local('SF Pro Display Ultralight'), local('SFProDisplay-Ultralight'),
      url('./sf-pro/SFProDisplay-Ultralight.eot?#iefix') format('embedded-opentype'),
      url('./sf-pro/SFProDisplay-Ultralight.woff2') format('woff2'),
      url('./sf-pro/SFProDisplay-Ultralight.woff') format('woff'),
      url('./sf-pro/SFProDisplay-Ultralight.ttf') format('truetype');
  font-weight: 100;
  font-style: normal;
}

@font-face {
  font-family: 'SF Pro Display';
  src: url('./sf-pro/SFProDisplay-LightItalic.eot');
  src: local('SF Pro Display LightItalic'), local('SFProDisplay-LightItalic'),
      url('./sf-pro/SFProDisplay-LightItalic.eot?#iefix') format('embedded-opentype'),
      url('./sf-pro/SFProDisplay-LightItalic.woff2') format('woff2'),
      url('./sf-pro/SFProDisplay-LightItalic.woff') format('woff'),
      url('./sf-pro/SFProDisplay-LightItalic.ttf') format('truetype');
  font-weight: 300;
  font-style: italic;
}

@font-face {
  font-family: 'SF Pro Display';
  src: url('./sf-pro/SFProDisplay-ThinItalic.eot');
  src: local('SF Pro Display ThinItalic'), local('SFProDisplay-ThinItalic'),
      url('./sf-pro/SFProDisplay-ThinItalic.eot?#iefix') format('embedded-opentype'),
      url('./sf-pro/SFProDisplay-ThinItalic.woff2') format('woff2'),
      url('./sf-pro/SFProDisplay-ThinItalic.woff') format('woff'),
      url('./sf-pro/SFProDisplay-ThinItalic.ttf') format('truetype');
  font-weight: 200;
  font-style: italic;
}

@font-face {
  font-family: 'SF Pro Display';
  src: url('./sf-pro/SFProDisplay-MediumItalic.eot');
  src: local('SF Pro Display MediumItalic'), local('SFProDisplay-MediumItalic'),
      url('./sf-pro/SFProDisplay-MediumItalic.eot?#iefix') format('embedded-opentype'),
      url('./sf-pro/SFProDisplay-MediumItalic.woff2') format('woff2'),
      url('./sf-pro/SFProDisplay-MediumItalic.woff') format('woff'),
      url('./sf-pro/SFProDisplay-MediumItalic.ttf') format('truetype');
  font-weight: 500;
  font-style: italic;
}

@font-face {
  font-family: 'SF Pro Display';
  src: url('./sf-pro/SFProDisplay-Semibold.eot');
  src: local('SF Pro Display Semibold'), local('SFProDisplay-Semibold'),
      url('./sf-pro/SFProDisplay-Semibold.eot?#iefix') format('embedded-opentype'),
      url('./sf-pro/SFProDisplay-Semibold.woff2') format('woff2'),
      url('./sf-pro/SFProDisplay-Semibold.woff') format('woff'),
      url('./sf-pro/SFProDisplay-Semibold.ttf') format('truetype');
  font-weight: 600;
  font-style: normal;
}

@font-face {
  font-family: 'SF Pro Display';
  src: url('./sf-pro/SFProDisplay-HeavyItalic.eot');
  src: local('SF Pro Display HeavyItalic'), local('SFProDisplay-HeavyItalic'),
      url('./sf-pro/SFProDisplay-HeavyItalic.eot?#iefix') format('embedded-opentype'),
      url('./sf-pro/SFProDisplay-HeavyItalic.woff2') format('woff2'),
      url('./sf-pro/SFProDisplay-HeavyItalic.woff') format('woff'),
      url('./sf-pro/SFProDisplay-HeavyItalic.ttf') format('truetype');
  font-weight: 900;
  font-style: italic;
}

@font-face {
  font-family: 'SF Pro Display';
  src: url('./sf-pro/SFProDisplay-Regular.eot');
  src: local('SF Pro Display Regular'), local('SFProDisplay-Regular'),
      url('./sf-pro/SFProDisplay-Regular.eot?#iefix') format('embedded-opentype'),
      url('./sf-pro/SFProDisplay-Regular.woff2') format('woff2'),
      url('./sf-pro/SFProDisplay-Regular.woff') format('woff'),
      url('./sf-pro/SFProDisplay-Regular.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'SF Pro Display';
  src: url('./sf-pro/SFProDisplay-Regular.eot');
  src: local('SF Pro Display Regular'), local('SFProDisplay-Regular'),
      url('./sf-pro/SFProDisplay-Regular.eot?#iefix') format('embedded-opentype'),
      url('./sf-pro/SFProDisplay-Regular.woff2') format('woff2'),
      url('./sf-pro/SFProDisplay-Regular.woff') format('woff'),
      url('./sf-pro/SFProDisplay-Regular.ttf') format('truetype');
  font-weight: 400;
  font-style: normal;
}

@font-face {
  font-family: 'SF Pro Display';
  src: url('./sf-pro/SFProDisplay-BoldItalic.eot');
  src: local('SF Pro Display BoldItalic'), local('SFProDisplay-BoldItalic'),
      url('./sf-pro/SFProDisplay-BoldItalic.eot?#iefix') format('embedded-opentype'),
      url('./sf-pro/SFProDisplay-BoldItalic.woff2') format('woff2'),
      url('./sf-pro/SFProDisplay-BoldItalic.woff') format('woff'),
      url('./sf-pro/SFProDisplay-BoldItalic.ttf') format('truetype');
  font-weight: bold;
  font-style: italic;
}

@font-face {
  font-family: 'SF Pro Display';
  src: url('./sf-pro/SFProDisplay-BoldItalic.eot');
  src: local('SF Pro Display BoldItalic'), local('SFProDisplay-BoldItalic'),
      url('./sf-pro/SFProDisplay-BoldItalic.eot?#iefix') format('embedded-opentype'),
      url('./sf-pro/SFProDisplay-BoldItalic.woff2') format('woff2'),
      url('./sf-pro/SFProDisplay-BoldItalic.woff') format('woff'),
      url('./sf-pro/SFProDisplay-BoldItalic.ttf') format('truetype');
  font-weight: 700;
  font-style: italic;
}

